body{
  font-family: 'Montserrat';
}

.title{
  background-color: #ff4c68;
  padding-bottom: 0;
}

.navbar{
  margin-bottom: 5%;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
}

.nav-item{
  margin: auto 1rem;
  font-size: 1.2rem;
}

.container-fluid{
  padding: 3% 15%;
}

.iphone{
  transform: rotate(25deg);
  width: 60%;
  display: block;
  margin: auto;
  z-index: -1;
}

h1{
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

h2{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;

}

.down-btn{
  margin: 5% 3% 5% 0;
}

 /* Features */

 .features{
   padding: 7% 15%;
 }

h3{
  font-weight: 700;
}

p{
  color: #8f8f8f;
}

.icon{
  font-size: 4rem;
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

.feature-column{
  padding: 0 5%;
}

.feature-row{
  text-align: center;
  font-size: 1.5rem;
  line-height: 40px;
}

/* Testimonial */

.testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.doggo{
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

.press{
   background-color: #ff4c68;
   text-align: center;
   padding-bottom: 3%;
}

.logos{
  width: 12%;
  margin: 0 30px;
}
