body{
  font-family: 'Montserrat';
}

.title{
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid{
  padding: 3% 15% 7%;
}

h1{
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

h2{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;

}

h3{
  font-weight: 700;
}

p{
  color: #8f8f8f;
}

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
}

.down-btn{
  margin: 5% 3% 5% 0;
}

.celular{
  position: relative;
  padding: 0 30% 0 0;
}

.iphone{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

 /* Features */

 #features{
   padding: 7% 15%;
   background-color: #fff;
   position: relative;
   z-index: 1;
 }

.icon{
  font-size: 4rem;
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

.feature-column{
  padding: 0 5%;
}

.feature-row{
  text-align: center;
  font-size: 1.5rem;
  line-height: 40px;
}

/* Testimonial */

.testimonials{
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-image{
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

.press{
   background-color: #ff4c68;
   text-align: center;
   padding-bottom: 3%;
}

.logos{
  width: 12%;
  margin: 0 30px;
}
